<footer id="contact">

    <div class="info">
        <div class="socialContainer">
            <h2>Me Contacter</h2>
            <div class="social">
                <div> <a href="https://www.linkedin.com/in/ben-ali-cherif-3746b0222/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a> </div>
                <div> <a href="https://github.com/Yondalne" target="_blank"><i class="fa-brands fa-github"></i></a> </div>
                <div> <a href="https://discord.gg/QQNMHFm3yh" target="_blank"><i class="fa-brands fa-discord"></i></a> </div>
            </div>
        </div>
        
        <div class="logo">
            <a href="#begin">
                <img src="./assets/baseImg/logo_dark.png" alt="">
            </a>                
        </div>
    </div>
    <div class="copyright"> <span>Developpé par <a href="https://github.com/Yondalne" target="_blank">Yondalne</a> | Copyright © <?= date("Y") ?> Tous Droits reservés</span> </div>
</footer>